
/* embed font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: #f5d9df;
    font-family: "Nunito", sans-serif;
}

#main-navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-navbar .navbar-brand {
    color: #ea1c2c;
}

#main-navbar .nav-link:hover {
    color: #ea1c2c;
}

#main-navbar .nav-link {
    color: white;
}





