
/* embed font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: #f5d9df;
    font-family: 'Nunito', sans-serif;
}

h2 {
    color: #f5d9df;
}

#main-navbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#main-navbar .nav-link {
    color: white;
}

#main-navbar .nav-link:hover {
    color: #ea1c2c;
}

#main-navbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#heading-group span {
    color: #ea1c2c;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
}

@media (max-width: 1220px) {
    #heading-group h1 {
        font-weight: 100;
        font-size: 3rem;
    }
}
